Your bitcoin++ ticket is here!

bitcoin++ is excited to welcome you to our first ever European 
conference: in Berlin October 6+7, 2023!

The attached ticket will get you into the conference for two days of workshops 
and talks from some of the best builders and thinkers in the nix/bitcoin space. 

You'll need it to check-in!

## Before the Conference

Get connected with other conference goers and stay up to date on what's happening 
on our Telegram group: https://t.me/+srzZdNHt8SoxZTFh


## At the Conference
	  
The conference will be held October 6+7 at the Saalchen at Holzmarkt.
https://www.holzmarkt.com/haus-2-saeaelchen-saloeoen.

Map: https://goo.gl/maps/7WA2JucRpMhVZm6H8

## Check-In

If you're in town and want to check-in early, we'll be getting things 
together at Holzmarkt on Thurs, Oct 5th. Come by to get your badge 
+ a t-shirt from 3p to 5p.


Check-in at the conf opens Friday, Oct 6 at 9.30a; the first event will 
start at 10.30a. Check out the whole agenda on our updated website: 
https://berlin23.btcpp.dev/#agenda


## Satellite Events
            
There's a lot going on in Berlin around bitcoin++, here's some satellite events 
to check out!


## Our Sponsors 
bitcoin++ wouldn't be possible without our awesome sponsors. Huge shout out 
to them for making bitcoin++ possible!


Excited to see you all soon!

niftynei + fulmo and the rest of the btcpp berlin team!
