Your bitcoin++ ticket is here!


bitcoin++ is excited to welcome you to our second conference in Austin, Texas!

The attached ticket will get you into the conference for three days of workshops
 and 
talks from some of the best builders and thinkers in the bitcoin L2 space. You'l
l need 
it to check-in!

NOTE: If you still need a place to stay, we've got a short list of suggestions o
n the conference website (https://btcpp.dev#venue); I'd also really recommend th
e Hyatt which is pricey but a nice walk to the venue. Any hotel downtown should 
be great, or an Airbnb nearby.

## Before the Conference

Get connected with other conference goers and stay up to date on what's happenin
g on our Telegram group: https://t.me/+srzZdNHt8SoxZTFh"

Take Base58⛓🔓's In-Person Transactions Deep Dive Apr 24-28 in Austin. Get warmed
 up for a weekend of building with a deep-dive into bitcoin. Learn all about how
 bitcoin transactions work in a fun, interactive in-person developer workshop. W
e've got a few seats left. Sign up here: https://base58.info/classes

## At the Conference
	  
The conference will be held in the Palmer Event Center's meeting rooms April 28+
29+30. There's parking availabe on site for $10 a day. Map: 
https://duckduckgo.com/?q=palmer+events+center&t=brave&ia=web&iaxm=places

## Check-In

If you're in town and want to check-in early, we'll be getting things together a
t PlebLab on Thurs, April 27. Come by to get your badge + a t-shirt from 3p to 5
p @ 623 1/2 E 6th.

PlebLab website: https://www.pleblab.com/
Map: https://goo.gl/maps/YdVzDYhc8i6kSCsQ6


Check-in at the conf opens Friday, April 28, at 9.30a; the first event will star
t at 10.30a. Check out the whole agenda on our updated website: 
https://btcpp.dev/#agenda

## Hackathon Details
         
The hackathon will kick off at close of sessions Saturday. You'll have all night
 Saturday to hack; most of Sunday will be open for hacking and unconferencing at
 the event center.


We've got over $5k in prizes! Big thanks to Trammel Venture Partners and Fulgar 
Ventures for sponsoring the hackathon!

- Grand Prize: $1.5k cash prize, a seat in an upcoming Base58 in-person class, a
nd 2 tickets to the next bitcoin++
- Other prizes to be announced at the kick off Saturday evening!

## Satellite Events
            
There's a lot going on in Austin around bitcoin++, here's some satellite events 
to check out!

- M-Th: Base58⛓🔓's In-Person Transactions Deep Dive. Learn all about how bitcoin
 transactions in a fun, interactive in-person workshop. Apr 24-28 9a - 12noon @ 
Common Desk. We've got a few seats left, https://www.base58.info/classes

- Mon 24th: Ordinals Meetup + History of JPEGs on Bitcoin, 7p @ PlebLab. 
Learn about the history of JPEGs on Bitcoin from Adam Back’s 
Crypto Trading Cards to OpReturn Art and more! 

- Tues 25th: Austin Lightning Developers Meetup, 6.30-9p @ Bitcoin Commons. 
https://www.meetup.com/austin-lightning-devs/events/291111305/

- Tues 25th: Austin Bitcoin Club's Bitcoin Dinner, 5.30-8p @ Meteor 
https://www.meetup.com/austin-bitcoin-club/events/292120021/

- Wed 26th: Nakamoto Forum Debate 6-8p @ Bitcoin Commons; ticket required! 
https://www.eventbrite.com/e/nakamoto-forum-debate-series-tickets-598633497907

- Thurs 27th: Austin Bitcoin Design Club Meetup, 6.30-9p @ Bitcoin Commons. 
https://www.meetup.com/austin-bitcoin-club/events/292120021/

- Thurs 27th: Application-Only LDK class; details to come

## Our Sponsors 
bitcoin++ wouldn't be possible without our awesome sponsors. Huge shout out to t
hem for making bitcoin++ possible!

Big thank you to Mempool.space, C=, Spiral, Base58, TVP, Fulgur Ventures, Rigly.
io, OpenNode, Wasabi Wallet, OpenSats, and the ATL BitLab!


Excited to see you all soon!

niftynei + the btcpp team
