Your bitcoin++ ticket is here!

bitcoin++ is excited to welcome you to our first ever South American
conference in Buenos Aires, February 22-24, 2024!

The attached ticket will get you into the conference for three days of workshops,
and talks from some of the best builders and thinkers in the bitcoin payments space.

You'll need it to check-in!

Note that if you bought an Argentinian residents ticket, you'll need to present
your proof of residency at check-in.

## Before the Conference

Get connected with other conference goers and stay up to date on what's happening 
on our Telegram group: https://t.me/+2a9pdYl7QR42YjEx 


## At the Conference
	  
The conference will be held February 22 - 24 at the Area Tres Workplace, in Palermo Soho.

Map: https://www.google.com/maps/place/AreaTres+El+Salvador/@-34.586006,-58.432203,16z/data=!4m6!3m5!1s0x95bcb58ed9532093:0x357a9ecb56bdbfc9!8m2!3d-34.5860057!4d-58.4322028!16s%2Fg%2F1ptvzj49m?hl=en-US&entry=ttu 

## Check-In

Check-in at the conf opens Thurs, Feb 22nd at 9.30a; the first event will 
start at 10.30a. Keep an eye out for agenda updates on the website:
https://btcpp.dev/ba24#agenda


## Satellite Events
            
There's a lot going on in Austin around bitcoin++, keep an eye on new satellite events
on the website: https://btcpp.dev/atx24#satellites


Excited to see you all soon!

niftynei and the rest of the btcpp team!
