Your bitcoin++ ticket is here!

bitcoin++ is excited to welcome you to our third annual conference in 
Austin Texas, this coming May 1 - 4, 2024.

The attached ticket will get you into the conference for four days of workshops,
and talks from some of the best builders and thinkers in the bitcoin 'scripts' space.

You'll need it to check-in!

## Before the Conference

Get connected with other conference goers and stay up to date on what's happening 
on our Telegram group: https://t.me/+srzZdNHt8SoxZTFh


## At the Conference
	  
The conference will be held May 1 - 4 at the Palmer Events Center, in Austin.

Map: https://www.google.com/maps/place/Palmer+Events+Center/@30.260073,-97.7558829,17z/data=!3m1!4b1!4m6!3m5!1s0x8644b51b38c30a8d:0x241c04637e53339b!8m2!3d30.260073!4d-97.753308!16s%2Fm%2F0k2xj46?entry=ttu

## Check-In

If you're in town and want to check-in early, we'll be getting things 
together at PlebLab (800 Brazos, Suite 260) on Tues, April 30th. Come by to get your badge 
+ a t-shirt from 3p to 5p.

Check-in at the conf opens Wed, May 1st at 9.30a; the first event will 
start at 10.30a. Keep an eye out for agenda updates on the website:
https://btcpp.dev/atx24#agenda


## Satellite Events
            
There's a lot going on in Austin around bitcoin++, keep an eye on new satellite events
on the website: https://btcpp.dev/atx24#satellites



Excited to see you all soon!

niftynei and the rest of the btcpp team!
