Your bitcoin++ ticket is here!

bitcoin++ is excited to welcome you to our fourth annual conference in 
Austin Texas, coming April 2025. Date and venue to be announced.

The attached ticket will get you into the conference for some days of workshops,
and talks from some of the best builders and thinkers in the bitcoin open-source space.

You'll need it to check-in!

## Before the Conference

Get connected with other conference goers and stay up to date on what's happening 
on our Telegram group: https://t.me/+srzZdNHt8SoxZTFh


## Satellite Events
            
There's a lot going on in Austin around bitcoin++, keep an eye on new satellite events
on the website: https://btcpp.dev/conf/atx25#satellites



Excited to see you all soon!

niftynei and the rest of the btcpp team!
