Your bitcoin++ ticket is here!

bitcoin++ is excited to welcome you to our 2nd conference in 
Berlin, Germany this coming October 11-13 2024. 

The attached ticket will get you into the conference for three days of workshops,
and talks from some of the best builders and thinkers in the bitcoin open source space.

You'll need it to check-in!

## Before the Conference

Get connected with other conference goers and stay up to date on what's happening 
on our Telegram group: https://t.me/+XRZHLIDEqvgzNjRh

## At the Conference

The conference will be held October 11 - 13th* at w3.hub in Kruezberg, Berlin.

Map: https://maps.app.goo.gl/VXkXSrkJfNGaS5YA8

*NOTE: This is a change from our original dates of Oct 10-12*

## Check-In

If you're in town and want to check-in early, we'll be getting things 
together at <to be announced> on Thurs, Oct 12th. Come by to get your badge 
+ a t-shirt from 3p to 5p. Please keep an eye on the Telegram group for information
about the pre-conference hackathon launch event.

Check-in at the conf opens Fri, Oct 13th at 9.00a; the first event will 
start at 10.00a. Keep an eye out for agenda updates on the website:
https://btcpp.dev/conf/berlin24#agenda


## Satellite Events
            
There's a lot going on in Berlin around bitcoin++, keep an eye on new satellite events
on the website: https://btcpp.dev/conf/berlin24#satellites



Excited to see you all soon!

~ niftynei and the rest of the btcpp team ~
