<!DOCTYPE html>
<html>
  <head>
    <title>bitcoin++ austin!</title>
    <link rel="stylesheet" href="/static/css/mini.css" />
    <script src="/static/script.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐮</text></svg>">
  </head>
<body>
{{ block "conf_nav" .Conf }} {{ end }}
<section id="intro">
 <div class="relative">
    <div class="mx-auto max-w-7xl">
      <div class="relative z-10 pt-14 lg:w-full lg:max-w-2xl">
        <svg class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-white lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
          <polygon points="0,0 90,0 50,100 0,100" />
        </svg>

        <div class="relative px-6 py-32 sm:py-40 lg:px-8 lg:py-56 lg:pr-0">
          <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
            <div class="hidden sm:mb-10 sm:flex">
              <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-500 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                Get involved in the future of bitcoin. <a href="https://www.canva.com/design/DAFmknhVypQ/tEPJKi0q_eApwtJnN6ulMQ/edit" target="_blank" class="whitespace-nowrap font-semibold text-txgreen"><span class="absolute inset-0" aria-hidden="true"></span>Become a Sponsor<span aria-hidden="true">&rarr;</span></a>
              </div>
            </div>
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"><span class="font-bitcoin">bitcoin++</span> is script happy</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">Join us in Austin this coming spring to dive deep into all things bitcoin script</p>
            <p class="text-lg leading-8 text-gray-600">Austin, TX | Palmer Events Center | May 1 - 4</p>
            <div class="mt-10 flex items-center gap-x-6">
              <a href="#tickets" class="rounded-md bg-txgreen px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-txgreen focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-txgreen">Get Your All Conf Pass</a>
              <a href="https://www.canva.com/design/DAFmknhVypQ/tEPJKi0q_eApwtJnN6ulMQ/edit" class="text-sm font-semibold leading-6 text-gray-900" target="_blank">Become a Sponsor<span aria-hidden="true">→</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
      <img class="aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full" src="/static/img/tx_rainbow.png" alt="">
    </div>
  </div>
</section>
<section id="about">
  <div class="overflow-hidden bg-white pt-14 pb-8">
    <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
      <div class="bg-white py-10 sm:py-10">
        <h2 class="text-center mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">Why Bitcoin script?</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">We rely on bitcoin script to secure our coins. But few are awaare of the power, limitations, and new horizons of Bitcoin script. Join us in Austin this coming spring to delve deep into what keeps our Bitcoin safe on chain.</p>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4 mt-12">
          <div>
            <time datetime="2021-08" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
            Security
          </div>
          <div>
            <time datetime="2021-12" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
            Predicates
          </div>
          <div>
            <time datetime="2022-02" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
            New-Horizons
          </div>
          <div>
            <time datetime="2022-12" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
            Open Source 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="venue">
<div class="overflow-hidden bg-white pt-14 pb-8">
  <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
      <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Conference Venue</h2>
        <p class="mt-6 text-xl leading-8 text-gray-600">Experience Austin, Eat some BBQ, Secure Your Coins</p>
        <p class="mt-6 text-base leading-7 text-gray-600"><span class="font-bitcoin">bitcoin++</span> is excited to be returning to the Palmer Events Center in Austin, Texas for our third annual Texas conference. It's a short walk from downtown Austin, on Town Lake.</p>
        <div class="mt-10 flex">
          <a href="#tickets" class="rounded-md bg-txgreen px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-txgreen focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-txgreen">Get Your All Access Pass<span aria-hidden="true">&rarr;</span></a>
        </div>
      </div>
      <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
        <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
          <img src="/static/img/palmer_night.jpg" alt="" class="aspect-[7/5] w-[37rem] max-w-none rounded-2xl bg-gray-50 object-cover">
        </div>
        <div class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8">
          <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
            <img src="/static/img/palmer.jpg" alt="" class="aspect-[4/3] w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
          </div>
          <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
            <img src="/static/img/palmer_patio.jpg" alt="" class="aspect-[7/5] w-[37rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
          </div>
          <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
            <img src="/static/img/austin_lake.jpg" alt="" class="aspect-[4/3] w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <iframe title="Palmer Events Center" aria-lable="Palmer Events Center" 
    class="mt-12"
	  width="100%"
	  height="500px"
	  frameborder="0" style="border:0"
	  referrerpolicy="no-referrer-when-downgrade"
	  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBs_ErgLEfaa9HBJfMzdm45JPhQgdPAMwc&amp;q=Palmer%20Events%20Center&amp;zoom=16"
	  allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
<div class="bg-white py-10 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <h3 class="mt-2 text-xl tracking-tight text-gray-900 sm:text-xl">Where to Stay</h3>
      <p class="mt-6 text-lg leading-8 text-gray-600">The conference is at the Palmer Events Center. Here’s some suggestions for places to stay that are really close by! We don’t have an official hotel this year, as we’re at a conf center, (and typically the prices we get from partner hotels aren’t really amazing)</p>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4 mt-12">
      <div>
        <time datetime="2021-08" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
          <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
	  Mid-Range
          <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:ml-8 lg:-mr-6 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
        </time>
	<a href="https://www.hilton.com/en/book/reservation/rooms/?ctyhocn=AUSLKES&arrivalDate=2023-04-27&departureDate=2023-04-30&room1NumAdults=1&ownerVIPRate=false&brandCode=HH&inputModule=HOTEL_SEARCH" target="_blank">
	<img src="/static/atx23/img/embassy.webp" height="350" width="100%" class="mt-12 w-full max-h-xl rounded-xl" />
        <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Embassy Suites</p>
        <p class="mt-1 text-base leading-7 text-gray-600">About $300 a night, walking distance to venue.</p>
	</a>
      </div>

      <div>
        <time datetime="2021-12" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
          <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Apartments
          <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:ml-8 lg:-mr-6 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
        </time>
	<a href="https://www.locale.com/properties/south-congress" target="_blank">
	<img src="/static/atx23/img/locale_sc.jpeg" height="350" width="100%" class="mt-12 w-full max-h-xl rounded-xl" />
        <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Locale, South Congress</p>
        <p class="mt-1 text-base leading-7 text-gray-600">Apartment style digs a few blocks from the event center. From $240 a night.</p>
	</a>
      </div>

      <div>
        <time datetime="2022-02" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
          <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Hostel
          <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:ml-8 lg:-mr-6 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
        </time>
	<a href="https://hotels.cloudbeds.com/reservation/E5VBgI#checkin=2023-04-27&checkout=2023-04-30" target="_blank">
	<img src="/static/atx23/img/firehouse.jpg" height="350" width="100%"class="mt-12 w-full max-h-xl rounded-xl" />
        <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Firehouse Hostel</p>
        <p class="mt-1 text-base leading-7 text-gray-600">About a 20m walk from the venue, in downtown Austin. From $40 a night (shared dorm).</p>
	</a>
      </div>

      <div>
        <time datetime="2022-12" class="flex items-center text-sm font-semibold leading-6 text-txgreen">
          <svg viewBox="0 0 4 4" class="mr-4 h-1 w-1 flex-none" aria-hidden="true">
            <circle cx="2" cy="2" r="2" fill="currentColor" />
          </svg>
          Boutique
          <div class="absolute -ml-2 h-px w-screen -translate-x-full bg-gray-900/10 sm:-ml-4 lg:static lg:ml-8 lg:-mr-6 lg:w-auto lg:flex-auto lg:translate-x-0" aria-hidden="true"></div>
        </time>
	<a href="https://carpenterhotel.com/" target="_blank">
	<img src="/static/atx23/img/carpenter.jpg" height="350" width="100%" class="mt-12 w-full max-h-xl rounded-xl aspect[16/9] sm:aspect[2/1] lg:aspect-[3/2]" />
        <p class="mt-6 text-lg font-semibold leading-8 tracking-tight text-gray-900">Carpenter Hotel</p>
        <p class="mt-1 text-base leading-7 text-gray-600">Boutique hotel within walking distance. From $450 a night.</p>
	</a>
      </div>
    </div>
  </div>
</div>
</section>
<section id="speakers">
<div class="bg-white py-32">
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Who's Coming</h2>
      <p class="mt-4 text-lg leading-8 text-gray-600"><span class="font-bitcoin">bitcoin++</span>'s third annual Austin, Texas conference will have an all-star lineup of builders, makers, and scriptoors. Details to come :)</p>
    </div>
    <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {{ range .Talks }}
      {{ if ne .BadgeName "" }}
      <li>
        <img class="mx-auto h-56 w-56 rounded-full" src="/static/img/speakers/{{ .Photo }}" alt="">
        <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">{{ .BadgeName }}</h3>
        <p class="text-sm leading-6 text-gray-600">{{ .Company }}</p>
        <p class="text-sm leading-6 text-gray-600">{{ .TimeDesc }}</p>
        <ul role="list" class="mt-6 flex justify-center gap-x-6">
          <li>
            <a href="{{ .Twitter }}" class="text-gray-400 hover:text-gray-500" target="_blank">
              <span class="sr-only">Twitter</span>
              <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                <path d="M6.29 18.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0020 3.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.073 4.073 0 01.8 7.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 010 16.407a11.616 11.616 0 006.29 1.84" />
              </svg>
            </a>
          </li>
          <li>
            <a href="{{ .Website}}" class="text-gray-400 hover:text-gray-500" target="_blank">
              <span class="sr-only">Website</span>
              <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 100 100" aria-hidden="true">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z" />
              </svg>
            </a>
          </li>
        </ul>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
</section>
{{ if .Conf.ShowAgenda }}
<section id="agenda">
<div class="bg-white py-32">
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Conference Agenda</h2>
    </div>
    <h3 class="mt-8 text-xl tracking-tight text-gray-900 sm:text-xl">Friday, Oct 6th</h3>
	  <div class="mt-6 relative">
	    <div class="absolute inset-0 flex items-center" aria-hidden="true">
	      <div class="w-full border-t border-gray-300"></div>
	    </div>
	    <div class="relative flex justify-start">
	      <span class="bg-white px-2 text-sm text-gray-500">Check-in Opens, 8:30 am </span>
	    </div>
	  </div>
    <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {{ with (index .Buckets "1A") }}
        {{ range . }}
          {{ block "session" . }} {{ end }}
        {{ end }}
      {{ end }}
    </div>
    <div class="mt-6 relative">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-start">
        <span class="bg-white px-2 text-sm text-gray-500">Lunch, 12:00 pm - 1:20 pm</span>
      </div>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {{ with (index .Buckets "1B") }}
        {{ range . }}
          {{ block "session" . }} {{ end }}
        {{ end }}
      {{ end }}
    </div>
    <div class="mt-6 relative">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300"></div>
      </div>
      <div class="relative flex justify-start">
        <span class="bg-white px-2 text-sm text-gray-500">Afternoon Break, 3:00 pm - 3:30 pm</span>
      </div>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {{ with (index .Buckets "1C") }}
        {{ range . }}
          {{ block "session" . }} {{ end }}
        {{ end }}
      {{ end }}
    </div>
    <h3 class="mt-8 text-xl tracking-tight text-gray-900 sm:text-xl">Saturday, Oct 7th</h3>
    <div class="mt-6 relative">
	    <div class="absolute inset-0 flex items-center" aria-hidden="true">
	      <div class="w-full border-t border-gray-300"></div>
	    </div>
	    <div class="relative flex justify-start">
	      <span class="bg-white px-2 text-sm text-gray-500">Venue Opens, 8:30 am </span>
	    </div>
    </div>
    <div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {{ with (index .Buckets "2A") }}
        {{ range . }}
          {{ block "session" . }} {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
</section>
{{ end }}
{{ if .Conf.HasSatellites }}
<section id="satellites">
  <div class="bg-white py-32">
    <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
      <div class="mx-auto max-w-2xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Satellite Events</h2>
      </div>
      <p class="mt-2 text-lg leading-8 text-gray-600">Other bitcoin events happening in Berlin. Additional ticket/registration may be necessary!</p>
      <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="/static/img/stammich.webp" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500">Oct 5, 2023 @ 7pm</time>
              <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Meetup</span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="https://www.meetup.com/bitcoin-lab-berlin/events/294115682/">
                  <span class="absolute inset-0"></span>
                  Berliner Bitcoin-Stammtisch @ Friedel Richter
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600"></p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <img src="/static/img/labberlin.webp" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                    <a href="https://www.meetup.com/bitcoin-lab-berlin/">
                      <span class="absolute inset-0"></span>
                      Bitcoin Lab Berlin
                    </a>
                  </p>
                  <p class="text-gray-600 ">at Friedel Richter</p>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img src="/static/img/ecash.jpeg" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500">Oct 8, 2023 @ 10am</time>
              <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Hackathon</span>
            </div>
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="https://ecashhackday.github.io/">
                  E-Cash Hackday
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600"></p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                <img src="/static/img/ecash.jpeg" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                    <a href="https://ecashhackday.github.io/">
                      <span class="absolute inset-0"></span>
                      Sponosored by Fedi + Cashu
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </article>

        <!-- More posts... -->
      </div>
    </div>
  </div>
</section>
{{ end }}
<section id="tickets">
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Get Your All Conference Pass</h2>
      {{ if .Tix }}
      <p class="mt-6 text-xl leading-8 text-gray-600">Next ticket hike <span class="text-buenos">{{ .Tix.Expires.DateDesc }}</span>
        {{ if lt .TixLeft 40 }}
      ; <span class="text-buenos font-bold">{{ .TixLeft }}</span> left at this price!</p>
        {{ end }}
      {{ else }}
      <p class="mt-6 text-lg leading-8 text-gray-600">This event is sold out! 🙈</p>
      {{ end }}
    </div>
  </div>
  {{ if .Tix }}
  <div class="relative isolate bg-white pb-24 px-6 sm:pb-32 lg:px-16">
    <div class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl" aria-hidden="true">
      <svg class="mx-auto w-[72.1875rem]" viewBox="0 0 1155 678">
        <path fill="url(#083c110e-60c8-42bb-a9db-29bba74cc569)" fill-opacity=".3" d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z" />
        <defs>
          <linearGradient id="083c110e-60c8-42bb-a9db-29bba74cc569" x1="1155.49" x2="-78.208" y1=".177" y2="474.645" gradientUnits="userSpaceOnUse">
            <stop stop-color="#9089FC" />
            <stop offset="1" stop-color="#FF80B5" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="mx-auto max-w-4xl lg:max-w-7xl">
    <div class="isolate mx-auto mt-16 grid max-w-md grid-cols-1 gap-y-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
    <div class="flex flex-col justify-between rounded-3xl bg-white p-8 ring-1 ring-gray-200 xl:p-10 lg:z-10 lg:rounded-b-none">
      <div>
        <h3 id="tier-bitcoin" class="text-base font-semibold leading-7 text-bitcoin">Pay with Bitcoin</h3>
        <p class="mt-4 flex items-baseline gap-x-2">
          <span class="text-3xl font-bold tracking-tight text-gray-900">${{ .Tix.BTC }} USD</span>
          <span class="text-base text-gray-500">/ticket</span>
        </p>
        <p class="mt-6 text-base leading-7 text-gray-600">Spend bitcoin, save money.</p>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 sm:mt-10">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-txgreen" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            4-day all conference pass
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-txgreen" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Unlimited access to workshops
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-txgreen" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Ticket includes lunch + refreshments 
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-txgreen" viewBox="0 0 20 20" fill="bitcoin" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Discounted rate for paying in bitcoin
          </li>

          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-txgreen" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
             Swag bag with t-shirts and other goodies
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-txgreen" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Compete for hackathon prizes
          </li>
        </ul>
      </div>
      <a href="/tix/{{ .Tix.ID }}+default+btc" aria-describedby="tier-bitcoin" class="mt-8 block rounded-md py-2.5 px-3.5 font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-txgreen sm:mt-10 bg-bitcoin" style="background: #FF8A00">{{ block "btcbutton" . }} {{ end }}</a>
    </div>

    <div class="flex flex-col justify-between rounded-3xl bg-white p-8 ring-1 ring-gray-200 xl:p-10 lg:mt-8 lg:rounded-l-none">
      <div>
          <h3 id="tier-fiat" class="text-base font-semibold leading-7 text-txgreen">Pay with Fiat</h3>
          <p class="mt-4 flex items-baseline gap-x-2">
            <span class="text-3xl font-bold tracking-tight text-gray-900">${{ .Tix.USD }} USD</span>
            <span class="text-base text-gray-500">/ticket</span>
          </p>
          <p class="mt-6 text-base leading-7 text-gray-600">Get your <span class="font-bitcoin">bitcoin++</span> ticket using Stripe checkout</p>
        <ul role="list" class="mt-8 space-y-3 text-sm leading-6 text-gray-600 sm:mt-10">
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-txgreen" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            4-day all conference pass
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-txgreen" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Unlimited access to workshops
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-txgreen" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Ticket includes lunch + refreshments 
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-txgreen" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Normal rate for paying with fiat
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-txgreen" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
            Swag bag with t-shirts and other goodies
          </li>
          </li>
          <li class="flex gap-x-3">
            <svg class="h-6 w-5 flex-none text-txgreen" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
            </svg>
          Compete for hackathon prizes
          </li>
        </ul>
        </div>
        <a href="/tix/{{ .Tix.ID }}+default+fiat" aria-describedby="tier-fiat" class="mt-8 block rounded-md py-2.5 px-3.5 text-center text-sm font-semibold focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-txgreen sm:mt-10 text-txgreen ring-1 ring-inset ring-txgreen hover:ring-txgreen">Checkout</a>
      </div>
    {{ end }}
    </div>
</section>
<section id="sponsors">
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="grid grid-cols-1 items-top gap-x-8 gap-y-16 lg:grid-cols-2">
        <div class="mx-auto w-full max-w-xl lg:mx-0">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900"><span class="font-bitcoin">bitcoin++</span> is made possible by the support of the bitcoin community</h2>
          <p class="mt-6 text-lg leading-8 text-gray-600"><span class="font-bitcoin">bitcoin++</span> is proud to be supported by a wide range of companies from across the bitcoin ecosystem. Check out what they're up to, both here online as well as at the conference.</p>
        </div>
        <div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
          <div style="margin-bottom: -3.5em; grid-column: span 2" class="text-center">
            <h3 class="text-xl font-bold tracking-tight text-gray-900">🔶Satoshi Level Sponsors🔶</h3>
          </div>
            <a href="https://base58.school" target="_blank" class="p-4 sm:p-12"
             style="grid-column: span 2">
              <img class="max-h-24 w-full object-contain object-center" src="/static/img/base58.svg" alt="Base58" width="150" height="auto">
             </a>
          <!--<a href="https://fulgur.ventures/" target="_blank" class="p-4 sm:p-12">
          <img class="max-h-24 w-full object-contain object-center" src="/static/img/fulgar.svg" alt="Fulgar Ventures" width="150" height="auto">
          </a> -->
          <div style="margin-bottom: -3.5em; grid-column: span 2" class="text-center">
            <h3 class="text-lg font-bold tracking-tight text-gray-900">💎Diamond Level Sponsors💎</h3>
          </div>
          <a href="https://www.hiro.so/" target="_blank" class="p-4 sm:p-12">
            <img class="max-h-24 w-full object-contain object-center" src="/static/img/hiro.svg" alt="Hiro" width="250" height="250">
          </a>
          <a href="https://spiral.xyz/" target="_blank" class="p-4 sm:p-12">
            <img class="w-full object-contain object-center" src="/static/img/spiral.svg" alt="Spiral" style="max-height: 8rem;">
          </a>
          <a href="https://cequals.xyz/" target="_blank" class="p-4 sm:p-12">
            <img class="max-h-24 w-full object-contain object-center" src="/static/img/ceq.svg" alt="C=" width="auto" height="200">
          </a>
          <div style="margin-bottom: -3.5em; grid-column: span 2" class="text-center">
            <h3 class="text-lg font-bold tracking-tight text-gray-900">🪙Gold Level Sponsors🪙</h3>
          </div>
              <a href="https://satoshilabs.com/" target="_blank" class="p-4 sm:p-12">
                <img class="max-h-24 w-full object-contain object-center" src="/static/img/satoshilabs.svg" alt="Satoshi Labs" width="150" height="auto">
              </a>
            <div style="margin-bottom: -2.5em; grid-column: span 2" class="text-center">
              <h3 class="text-lg font-bold tracking-tight text-gray-900">🤝 Community Partners 🤝</h3>
            </div>
              <a href="https://www.pleblab.com/" target="_blank">
              <img class="max-h-24 w-full object-contain object-center" src="/static/img/pleblab.jpg" alt="PlebLab_" width="200" height="auto">
              </a>
              <a href="https://t.me/+LRGs8wpokpU0YTgx" target="_blank">
              <img class="max-h-24 w-full object-contain object-center" src="/static/img/plebprintshop.png" alt="pleb print shop" width="200" height="auto">
              </a>
              <a href="https://www.bitcoincommons.com/" target="_blank" class="p-4 sm:p-12">
              <img class="max-h-24 w-full object-contain object-center" src="/static/img/btccommons.png" alt="Bitcoin Commons" width="200" height="auto">
              </a>
        </div>
      </div>
    </div>
  </div>
</section>
  </body>
</html>
