<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>bitcoin++</title>
  <link rel="stylesheet" href="/static/css/mini.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/static/script.js" type="text/javascript"></script>
</head>
{{ if eq .TicketType "sponsor" }}
<body class="h-full bg-lime-300">
{{ end }}
{{ if eq .TicketType "genpop" }}
<body class="h-full bg-blue-300">
{{ end }}
{{ if eq .TicketType "volunteer" }}
<body class="h-full bg-cyan-300">
{{ end }}
{{ if eq .TicketType "speaker" }}
<body class="h-full bg-orange-300">
{{ end }}
{{ if eq .TicketType "" }}
  {{ if .NeedsPin }}
    <body class="h-full">
  {{ end }}
    <body class="h-full bg-red-500">
{{ end }}
{{ block "nav" . }} {{ end }}
<!-- can i get tailwind to pick up these colors? -->
  <section id="check-in">
    <div class="flex flex-col" >
    <div class="pt-20 sm:pt-20 grow-0">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="max-w-2xl text-start">
         {{ if .NeedsPin }}
	  <form method="POST">
	    <input id="pin" type="input" name="pin" placeholder="Passcode" required class="py-3 px-4 border-gray border-2 rounded-sm" />
	    <button class="mt-4 bg-black text-white hover:text-white-400 px-4 py-2 rounded-md" type="submit" >Enter</button>
	  </form> 
         {{ else }}
         <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ .TicketType }}</h2>
          {{ end }}
         <p class="mt-2 text-base leading-7">{{ .Msg }}</p>
         </div>
         </div>
       </div>
    </div>
  </section>
</body>
</html>
