{{ define "conf_nav" }}
  <header class="bg-white sticky top-0 z-20">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5"><span class="sr-only">bitcoin++</span> <img class="h-8 w-auto" src="/static/img/btcpp.svg" alt=""></a>
      </div>
      <div class="flex lg:hidden">
        <button type="button" onclick="toggleMenu(this)" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"><span class="sr-only">Open main menu</span> <svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path></svg></button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/conf/{{ .Tag }}#about" class="text-sm font-semibold leading-6 text-gray-900">about</a>
	      <a href="/conf/{{ .Tag }}#venue" class="text-sm font-semibold leading-6 text-gray-900">venue</a>
        {{ if .ShowAgenda }}
	      <a href="/conf/{{ .Tag }}#agenda" class="text-sm font-semibold leading-6 text-gray-900">agenda</a>
        {{ end }}
        {{ if .ShowTalks }}
	      <a href="/conf/{{ .Tag }}/talks" class="text-sm font-semibold leading-6 text-gray-900">talks</a>
        {{ end }}
        {{ if .HasSatellites }}
        <a href="/conf/{{ .Tag }}#satellites" class="text-sm font-semibold leading-6 text-gray-900">satellite events</a>
        {{ end }}
        <a href="/conf/{{ .Tag }}#sponsors" class="text-sm font-semibold leading-6 text-gray-900">sponsors</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="/conf/{{ .Tag }}#tickets" class="rounded-md bg-{{ .GetColor }} px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-{{ .GetColor }} focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-{{ .GetColor }}">Buy Tickets</a>
      </div>
    </nav><!-- Mobile menu, show/hide based on menu open state. -->
    <div class="hidden lg:hidden" role="nav-dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-20"></div>
      <div class="fixed inset-y-0 right-0 z-20 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="/" class="-m-1.5 p-1.5"><span class="sr-only">bitcoin++</span> <img class="h-8 w-auto" src="/static/img/btcpp.svg" alt=""></a> 
	  <button type="button" onclick="closeMenu(this)" class="-m-2.5 rounded-md p-2.5 text-gray-700">
	    <span class="sr-only">Close menu</span> 
	    <svg class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true"> <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path></svg>
	 </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <div class="">
		            <a onclick="toggleMenu(this)" href="/conf/{{ .Tag }}#about" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">about</a>
		            <a onclick="toggleMenu(this)" href="/conf/{{ .Tag }}#venue" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">venue</a>
                {{ if .ShowAgenda }}
	              <a onclick="toggleMenu(this)" href="/conf/{{ .Tag }}#agenda" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">agenda</a>
                {{ end }}
                {{ if .ShowTalks }}
                <a onclick="toggleMenu(this)" href="/conf/{{ .Tag }}/talks" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">talks</a>
                {{ end }}
                {{ if .HasSatellites }}
		            <a onclick="toggleMenu(this)" href="/conf/{{ .Tag }}#satellites" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">satellite events</a>
                {{ end }}
		            <a onclick="toggleMenu(this)" href="/conf/{{ .Tag }}#sponsors" class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">sponsors</a>
              </div>
              <div class="py-6">
                <a onclick="toggleMenu(this)" href="/conf/{{ .Tag }}#tickets" class="rounded-md bg-{{ .GetColor }} px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-{{ .GetColor }} focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-{{ .GetColor }}">Buy Tickets</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}
