<div id="discount_result" name="hidden_stuffs">
  <input class="rounded-md" type="hidden" name="Tix" value="{{ .Tix }}" required>
  <input class="rounded-md" type="hidden" name="HMAC" value="{{ .HMAC }}" required>
  <input class="rounded-md" type="hidden" name="TixPrice" value="{{ .TixPrice }}" required>
  <input class="rounded-md" type="hidden" name="DiscountPrice" value="{{ .DiscountPrice}}" required>
  <input class="rounded-md" type="hidden" name="Count" value="{{ .Count }}" required>
</div>
