<!DOCTYPE html>
<html>
  <head>
    <title>bitcoin++</title>
    <link rel="stylesheet" href="/static/css/mini.css" />
    <script src="/static/js/script.js" type="text/javascript"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✨</text></svg>">
  </head>
  <body>
    {{ block "mainnav" . }} {{ end }}
    <section id="confs">
      <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-0">
          <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Upcoming Events</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">Attend one of bitcoin's biggest FOSS gatherings</p>
          </div>
          <!-- begins -->
          <div class="relative mx-auto max-w-2xl lg:mx-0 lg:max-w-none lg:px-8">
            <div class="relative lg:static rounded-2xl mt-16 sm:mt-20 lg:mx-0 lg:max-w-none">
              <div class="relative z-20 pt-14 lg:w-full lg:max-w-lg lg:pl-8">
                <svg class="absolute inset-y-0 -right-24 hidden h-full w-80 translate-x-1/5 transform fill-white lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                  <polygon points="0,0 90,0 50,100 0,100" />
                </svg>

                <div class="relative px-6 py-32 sm:py-40 lg:px-8 lg:py-56 lg:pr-0">
                  <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
                    <h1 class="text-4xl font-bold tracking-tight text-white lg:text-gray-900"><span class="font-bitcoin">bitcoin++</span> mints ecash</h1>
                    <p class="mt-6 text-lg leading-8 text-gray-200 lg:text-gray-600">Berlin, Germany | Oct 11 - 13, 2024</p>
                    <div class="mt-10 flex items-center gap-x-6">
                      <a href="/conf/berlin24" class="rounded-2xl bg-zinc-900 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:text-zinc-900 hover:bg-zinc-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-200">Attend</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rounded-2xl absolute inset-0 z-10 bg-gradient-to-t from-gray-900 via-gray-900/40 lg:hidden"></div>
            <div class="bg-gray-50 absolute inset-0 lg:z-10 lg:inset-y-0 lg:left-auto lg:right-0 lg:w-2/3">
              <img class="aspect-[3/2] object-cover lg:aspect-auto h-full w-full rounded-2xl lg:rounded-r-2xl" src="/static/img/berlin24.png" alt="">
            </div>
          </div>
          <!-- ends -->
          <!-- begins -->
          <div class="relative mx-auto max-w-2xl lg:mx-0 lg:max-w-none lg:px-8">
            <div class="relative lg:static rounded-2xl mt-16 sm:mt-20 lg:mx-0 lg:max-w-none">
              <div class="relative z-20 pt-14 lg:w-full lg:max-w-lg lg:pl-8">
                <svg class="absolute inset-y-0 -right-24 hidden h-full w-80 translate-x-1/5 transform fill-white lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                  <polygon points="0,0 90,0 50,100 0,100" />
                </svg>

                <div class="relative px-6 py-32 sm:py-40 lg:px-8 lg:py-56 lg:pr-0">
                  <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
                    <h1 class="text-4xl font-bold tracking-tight text-white lg:text-gray-900"><span class="font-bitcoin">bitcoin++</span> catches some waves</h1>
                    <p class="mt-6 text-lg leading-8 text-gray-200 lg:text-gray-600">Florianopolis, Brasil | Feb 19 - 22, 2025</p>
                    <div class="mt-10 flex items-center gap-x-6">
                      <a href="/conf/floripa" class="rounded-2xl bg-cyan-400 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-cyan-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-200">Attend</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rounded-2xl absolute inset-0 z-10 bg-gradient-to-t from-gray-900 via-gray-900/40 lg:hidden"></div>
            <div class="bg-gray-50 absolute inset-0 lg:z-10 lg:inset-y-0 lg:left-auto lg:right-0 lg:w-2/3">
              <img class="aspect-[3/2] object-cover lg:aspect-auto h-full w-full rounded-2xl lg:rounded-r-2xl" src="/static/img/floripa.png" alt="">
            </div>
          </div>
          <!-- ends -->
          <!-- begins -->
          <div class="relative mx-auto max-w-2xl lg:mx-0 lg:max-w-none lg:px-8">
            <div class="relative lg:static rounded-2xl mt-16 sm:mt-20 lg:mx-0 lg:max-w-none">
              <div class="relative z-20 pt-14 lg:w-full lg:max-w-lg lg:pl-8">
                <svg class="absolute inset-y-0 -right-24 hidden h-full w-80 translate-x-1/5 transform fill-white lg:block" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
                  <polygon points="0,0 90,0 50,100 0,100" />
                </svg>

                <div class="relative px-6 py-32 sm:py-40 lg:px-8 lg:py-56 lg:pr-0">
                  <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
                    <h1 class="text-4xl font-bold tracking-tight text-white lg:text-gray-900"><span class="font-bitcoin">bitcoin++</span> dives deep</h1>
                    <p class="mt-6 text-lg leading-8 text-gray-200 lg:text-gray-600">Austin, Texas | May 7 - 9, 2025</p>
                    <div class="mt-10 flex items-center gap-x-6">
                      <a href="/conf/atx25" class="rounded-2xl bg-txgreen px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange">Attend</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rounded-2xl absolute inset-0 z-10 bg-gradient-to-t from-gray-900 via-gray-900/40 lg:hidden"></div>
            <div class="bg-gray-50 absolute inset-0 lg:z-10 lg:inset-y-0 lg:left-auto lg:right-0 lg:w-2/3">
              <img class="aspect-[3/2] object-cover lg:aspect-auto h-full w-full rounded-2xl lg:rounded-r-2xl" src="/static/img/dog_swimming.jpg" alt="">
            </div>
          </div>
          <!-- ends -->
        </div>
      </div>
    </section>
    <section id="about">
    {{ block "about" . }} {{ end }}
    </section>
  </body>
</html>
