{{ define "multisession" }}
<li class="flex-row py-8">
  <div class="flex">
    <div class="mb-4 flex-shrink-0 sm:mb-0 sm:mr-4">
     <a href="/conf/{{ .ConfTag }}/talks#{{ .AnchorTag }}" target="_blank">
     <img class="inline-block h-28 w-28 rounded-md" src="/static/img/talks/{{ .TalkPhoto }}" alt="" />
     </a>
    </div>
   <div class="ml-3">
       <h4 class="text-left text-xl font-medium text-gray-900 hover:text-gray-600">
       <a href="/conf/{{ .ConfTag }}/talks#{{ .AnchorTag }}">{{ .Name }}</a></h4>
          {{ $spkCount := len .Speakers }}
          {{ range .Speakers }}
          <div class="-ml-4 flex items-center gap-x-4">
            <svg viewBox="0 0 2 2" class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50">
              <circle cx="1" cy="1" r="1" />
            </svg>
            <div class="flex gap-x-2.5">
              <img src="/static/img/speakers/{{ .Photo }}" alt="" class="h-6 w-6 flex-none rounded-full bg-white/10">
                {{ .Name }}
            </div>
          </div>
          {{ end }}
        {{ if eq .Venue "one" }}
        <p class="text-left text-sm text-gray-500">
          Venue: <span class="font-medium text-purple-600">Plenarium</span> 
        </p>
        {{ end }}
        {{ if eq .Venue "two" }}
        <p class="text-left text-sm text-gray-500">
          Venue: <span class="font-medium text-blue-600">Workshop</span> 
        </p>
        {{ end }}
        {{ if eq .Venue "three" }}
        <p class="text-left text-sm text-gray-500">
          Venue: <span class="font-medium text-indigo-600">Open Ended</span> 
        </p>
        {{ end }}
    </a>
   </div>
  </div>
  <div class="mt-4 pb-2 w-full flex flex-start items-center text-xs">
    <span class="pr-4 grow-0 text-sm leading-6 text-gray-900">{{ .StartTime }}</span>
    <span class="grow-0 text-sm leading-6 text-gray-900 font-bold">{{ .Len }}</span>
    <span class="flex-grow"></span>
    
    {{ if eq .Type "hackathon" }}
    <span class="grow0 relative z-10 rounded-full bg-orange-50 py-1.5 px-3 font-medium text-orange-600">{{ .Type }}</span>
    {{ end }}
    {{ if eq .Type "talk" }}
    <span class="grow0 relative z-10 rounded-full bg-amber-50 py-1.5 px-3 font-medium text-amber-600">{{ .Type }}</span>
    {{ end }}
    {{ if eq .Type "workshop" }}
    <span class="grow0 relative z-10 rounded-full bg-rose-50 py-1.5 px-3 font-medium text-rose-600">{{ .Type }}</span>
    {{ end }}
    {{ if eq .Type "keynote" }}
    <span class="grow0 relative z-10 rounded-full bg-pink-50 py-1.5 px-3 font-medium text-pink-600">{{ .Type }}</span>
    {{ end }}

  </div>
  </li>	
{{ end }}
