{{ define "details" }}
<article class="relative isolate flex flex-col gap-8 lg:flex-row" id="{{ .AnchorTag }}">
<div class="relative aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
    <img src="/static/img/talks/{{ .Clipart }}" alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
    <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
  </div>
  <div>
    <div class="flex items-center gap-x-4 text-xs">
    <time datetime="2020-03-16" class="text-gray-500">{{ .TimeDesc }}</time>
    {{ if eq .Type "mixer" }}
    <span class="relative z-10 rounded-full bg-pink-50 py-1.5 px-3 font-medium text-pink-600 hover:bg-pink-100">All-Conf Ice Breaker</span>
    {{ end }}
    {{ if eq .Type "round-robin" }}
      <span class="relative z-10 rounded-full bg-pink-50 py-1.5 px-3 font-medium text-pink-600 hover:bg-pink-100">Cohort Workshops</span>
    {{ end }}
    {{ if eq .Type "workshop" }}
    <span class="relative z-10 rounded-full bg-green-50 py-1.5 px-3 font-medium text-green-600 hover:bg-green-100">Workshop</span>
    {{ end }}
    {{ if eq .Type "talk" }}
    <span class="relative z-10 rounded-full bg-orange-50 py-1.5 px-3 font-medium text-orange-600 hover:bg-orange-100">Talk</span>
    {{ end }}
    </div>
    <div class="group relative max-w-xl">
      <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900">
	  <span class="absolute inset-0"></span>
	  {{ .Name }}
      </h3>
      <p class="mt-5 text-sm leading-6 text-gray-600">{{ .Description }}</p>
    </div>
    <div class="mt-6 flex border-t border-gray-900/5 pt-6">
      <div class="relative flex items-center gap-x-4">
	<img src="{{ .Photo }}" alt="" class="h-10 w-10 rounded-full bg-gray-50">
	<div class="text-sm leading-6">
	  <p class="font-semibold text-gray-900">
	    <a href="{{ .Twitter }}" target="_blank">
	      <span class="absolute inset-0"></span>
	     {{ .BadgeName }}
	    </a>
	  </p>
	  <p class="text-gray-600">{{ .Company }}</p>
	</div>
      </div>
    </div>
  </div>
</article>
{{ end }}
