{{ define "session" }}
<!-- <li class="flex-row py-8"> -->
      <article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
        <img src="/static/img/talks/{{ .TalkPhoto }}" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">
        <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
        <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>

        {{ if eq .Venue "one" }}
        <p class="text-left text-sm text-gray-300">
          Venue: <span class="font-medium text-orange-200">Plenarium</span> 
        </p>
        {{ end }}
        {{ if eq .Venue "two" }}
        <p class="text-left text-sm text-gray-300">
          Venue: <span class="font-medium text-lime-200">Workshop</span> 
        </p>
        {{ end }}
        {{ if eq .Venue "three" }}
        <p class="text-left text-sm text-gray-300">
          Venue: <span class="font-medium text-pink-200">Open Ended</span> 
        </p>
        {{ end }}
        <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
          <time datetime="2020-03-16" class="mr-8">{{ .StartTime }}</time>
          {{ $spkCount := len .Speakers }}
          {{ range .Speakers }}
          <div class="-ml-4 flex items-center gap-x-4">
            <svg viewBox="0 0 2 2" class="-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50">
              <circle cx="1" cy="1" r="1" />
            </svg>
            <div class="flex gap-x-2.5">
              <img src="/static/img/speakers/{{ .Photo }}" alt="" class="h-6 w-6 flex-none rounded-full bg-white/10">
              {{ if eq $spkCount 1 }}
                {{ .Name }}
              {{ end }}
            </div>
          </div>
          {{ end }}
        </div>
        <a href="/conf/{{ .ConfTag }}/talks#{{ .AnchorTag }}" class="shadow-sm focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-bitcoin">
        <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
            <span class="absolute inset-0"></span>
            {{ .Name }}
        </h3>
        </a>
      </article>
{{ end }}
